/* Estilos para mi template de owl */

.submitButton {
    background-color: #007bff !important; /* Color azul primario de Bootstrap */
    border-color: #007bff !important;
}

.submitButton:hover {
    background-color: #3c96f5 !important; /* Color azul para el hover  */
    border-color: #2188f7 !important;
}

.botonesForm {
    max-width: 120px;
    border-radius: 10px;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagenForm {
    max-width: 95px;
    max-height: 95px;
}

.imagenForm img {
    max-width: 85px;
    max-height: 85px;
}

.o_action_manager{
    background-color: white;
}

input {
    border-radius: 5px;
}

input:hover, select:hover{
    border-color: #007bff !important;
}

form {
    border-radius: 20px;
    height: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 25%);
}

.modal-content {
    border-radius: 5px;
}

.btn-secondary {
    margin-right: 10px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    max-height: 500px;
}

.modal-content {
    min-width: 900px;
}

.eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    align-content: center;
}

#listarLeads {
    min-width: 150px;
}